body
{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px ;
    margin: 0;
    padding: 0;
    color: brown;
}
#container 
{
    width: 50%;
    padding: 1 cm;
    text-align: left;
    border: 3px solid #ddd;
    margin: auto;
}
#post
{
    font-size: 30px;
}